@charset "utf-8";
/* CSS Document */

.custom_logo{width:160px; height:132px; display:inline-block; border-radius:50%; background:#fff; text-align:center;}
.top_btn{background:#f8de14; padding: 0 60px 5px 8px; border-radius:20px;margin-top: 4px; border:1px solid #f8de14}
.top_btm_btn{background:#fff; color:#000000; border-radius:20px;margin-top: 4px;position: absolute;right: 18%;font-size: 11px; border:1px solid #fff;}
.map_btn{background:#fff; color:#000000; border-radius:20px;margin-top: 4px;font-size: 11px; border:1px solid #fff; padding: 5px 20px;}
.pad-30{padding: 0 30px;}
.exp_heading{font-size: 70px;font-weight: 700;}
.exp_pad{padding: 5% 0 0 12%;}
.news_heading{padding:10px 35px; color:#fff; position: absolute;left: 0;bottom: 74px; font-size: 37px;}
.pad-80{padding-top:80px;}
.f-min{min-height:303px;}
.modal-dialog{ top:13%; }.
.price{
    margin-top: -369px !important;
    position: relative !important;
    margin-bottom: 50px !important;
}
/*.price .bg-gradient {
background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
} */
.price  ul li {
  margin-bottom:.4rem;
}
.price  .pricing-divider {
background: #BE151C;
padding: 12px;
position: relative;
}
.price  .blue .pricing-divider, .price .blue btn-custom{
background: #2D5772 !important;
padding: 12px; 
}
.price  .orange .pricing-divider, .price .orange btn-custom{
background: #F7921E !important; 
padding: 12px;
}
.price  .green .pricing-divider, .price .green btn-custom {
background: #1AA85C !important; 
padding: 12px;
}
.price  .red b {
  color:#BE151C
}
.price .orange b {
  color:#F7921E
}
.price  .blue b {
  color:#2D5772
}
.price .green b {
  color:#1AA85C
}
.price  .pricing-divider-img {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 80px;
}
.price  .deco-layer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.price  .btn-custom  {
  background:#BE151C; color:#fff; border-radius:20px
}

.price  .img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.price  .princing-item {
  transition: all 150ms ease-out;
}
.price  .princing-item:hover {
  transform: scale(1.05);
}
.price  .princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.price  .princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.ul-terms li{ display:inline-block; margin-right:20px; }
.mob-dis{display: none;}
.card-body{min-height: 85px;}
.mp-212{margin-top: -212px;}
.rig{position:fixed;right:-39px;top:40%;color:#fff;font-weight:bold;background:#362E83;padding:1%;cursor:pointer;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);writing-mode:lr-tb;}
.mailid{ padding:0; }

.pricing-divider p{ margin-bottom:8px; }
.ban-res{ min-height:186px; }












